

h1 {
    font-size: 48px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}

h2 {
    font-size: 48px;
    letter-spacing: 2px;
    text-align: center;

}

p {
    font-size: 30px;
    text-align: center;
}

#menu {
    background-color: white;
    height: 5vh;
    
    width: 100%;
}

#navigationContent {
    position: relative;
    font-size: 2vh;
    top: 25%;
    text-align: right;
    right: 20%; 
}

#mainContent {
    display: inline-block;
    background-color: #F1F1F1;
    font-family: verdana;
    width: 100%;
    
    text-align: center;
    
}

li#link {
    display: inline;
}

a { 
    padding: 10px 30px;
}

.simFile {
    width:120px;
    height:30px;
    text-align: center;
}


.communication{
    margin-left: 10%;
    float: left;
}

.communication select {

   width: 25%;


}

.communication form {
   margin-top: 10%;
}

.communication table {
    border: 2px brown;
}

.ngoSessionJoining {
    display: none;
}

.inputNGOCount {
    text-align: center;


}

.ngoNamefield {
    text-align: center;
}

.ngoList {
    width: 100%;
    text-align: center;
}

.ngoList li {
    font-size: 30px;
    display: inline;
    text-align: center;
}

.messages{
    text-align: center;
}

.recieveList {
    width: 100%;
    text-align: center;
}

.recieveList li {
    font-size: 30px;
    display: inline;
    text-align: center;
}